## TRATAMENTO DOS DADOS
## DATA PROCESSING

In [369]:
import pandas as pd

In [370]:
# carregando os dados do primeiro DataFrame e exibindo os 5 primerios registros  
# loading data from the first DataFrame and displaying the first 5 records
draft = pd.read_csv('draft.csv')
draft.head()

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
0,19770001,1977,1.0,1,3000.0,TB,RB,4900,Ricky,Bell,...,1955-04-08,22.084932,http://www.nfl.com/player/RickyBell/2509366/pr...,Houston,TX,USA,NaN,NaN,NaN,NaN
1,19770002,1977,1.0,2,2600.0,DAL,RB,1200,Tony,Dorsett,...,1954-04-07,23.087671,http://www.nfl.com/player/TonyDorsett/2513084/...,Rochester,PA,USA,NaN,NaN,NaN,NaN
2,19770003,1977,1.0,3,2200.0,CIN,DE,920,Eddie,Edwards,...,1954-04-25,23.038356,http://www.nfl.com/player/EddieEdwards/2513479...,Sumter,SC,USA,NaN,NaN,NaN,NaN
3,19770004,1977,1.0,4,1800.0,NYJ,OT,3430,Marvin,Powell,...,1955-08-30,21.690411,http://www.nfl.com/player/MarvinPowell/2523462...,Los Angeles,CA,USA,NaN,NaN,NaN,NaN
4,19770005,1977,1.0,5,1700.0,NYG,DE,3410,Gary,Jeter,...,1955-01-24,22.287671,http://www.nfl.com/player/GaryJeter/2517530/pr...,Weirton,WV,USA,NaN,NaN,NaN,NaN

In [371]:
# carregando os dados do segundo DataFrame e exibindo os 5 primerios registros
# loading data from the second DataFrame and displaying the first 5 records
combine = pd.read_csv('combine.csv')
combine.head()

,combineId,playerId,combineYear,combinePosition,combineHeight,combineWeight,combineHand,nameFirst,nameLast,nameFull,...,hsCountry,combineArm,combine40yd,combineVert,combineBench,combineShuttle,combineBroad,combine3cone,combine60ydShuttle,combineWonderlic
0,10000,19870067,1987,CB,69.8,198,8.50,Michael,Adams,Michael Adams,...,NaN,30.50,4.42,32.0,13.0,4.60,118.0,NaN,11.91,NaN
1,10001,19870154,1987,C,74.8,266,10.25,John,Adickes,John Adickes,...,NaN,30.00,4.97,26.5,25.0,4.60,103.0,NaN,NaN,NaN
2,10002,19870800,1987,FB,71.8,217,9.00,Tommy,Agee,Tommy Agee,...,NaN,30.75,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
3,10003,19870121,1987,C,75.0,279,10.50,David,Alexander,David Alexander,...,NaN,32.75,5.13,27.5,22.0,4.33,105.0,NaN,NaN,NaN
4,10004,19870801,1987,WR,72.1,202,10.00,Lyneal,Alston,Lyneal Alston,...,NaN,33.00,4.64,32.0,7.0,4.52,114.0,NaN,11.85,NaN

In [372]:
# exibindos registros duplicados
# displaying duplicate lines
draft[draft.duplicated()]

,playerId,draft,round,pick,draftTradeValue,draftTeam,position,teamId,nameFirst,nameLast,...,dob,ageAtDraft,playerProfileUrl,homeCity,homeState,homeCountry,highSchool,hsCity,hsState,hsCountry
9351,20090032,2009,1.0,32,590.0,PIT,DT,3900,Evander,Hood,...,1987-02-16,22.202740,http://www.nfl.com/player/ZiggyHood/2507780/pr...,Amarillo,TX,USA,Palo Duro HS,Amarillo,TX,USA
9352,20090032,2009,1.0,32,590.0,PIT,DT,3900,Evander,Hood,...,1987-02-16,22.202740,http://www.nfl.com/player/ZiggyHood/2507780/pr...,Amarillo,TX,USA,Palo Duro HS,Amarillo,TX,USA
9353,20090032,2009,1.0,32,590.0,PIT,DT,3900,Evander,Hood,...,1987-02-16,22.202740,http://www.nfl.com/player/ZiggyHood/2507780/pr...,Amarillo,TX,USA,Palo Duro HS,Amarillo,TX,USA
9355,20090032,2009,1.0,32,590.0,PIT,DT,3900,Evander,Hood,...,1987-02-16,22.202740,http://www.nfl.com/player/ZiggyHood/2507780/pr...,Amarillo,TX,USA,Palo Duro HS,Amarillo,TX,USA
9356,20090032,2009,1.0,32,590.0,PIT,DT,3900,Evander,Hood,...,1987-02-16,22.202740,http://www.nfl.com/player/ZiggyHood/2507780/pr...,Amarillo,TX,USA,Palo Duro HS,Amarillo,TX,USA
9357,20090032,2009,1.0,32,590.0,PIT,DT,3900,Evander,Hood,...,1987-02-16,22.202740,http://www.nfl.com/player/ZiggyHood/2507780/pr...,Amarillo,TX,USA,Palo Duro HS,Amarillo,TX,USA
10076,20110239,2011,7.0,239,1.4,SF,OG,4500,Mike,Person,...,1988-06-17,22.876712,http://www.nfl.com/player/MikePerson/2508140/p...,Glendive,MT,USA,Dawson HS,Glendive,MT,USA
10077,20110239,2011,7.0,239,1.4,SF,OG,4500,Mike,Person,...,1988-06-17,22.876712,http://www.nfl.com/player/MikePerson/2508140/p...,Glendive,MT,USA,Dawson HS,Glendive,MT,USA
10078,20110239,2011,7.0,239,1.4,SF,OG,4500,Mike,Person,...,1988-06-17,22.876712,http://www.nfl.com/player/MikePerson/2508140/p...,Glendive,MT,USA,Dawson HS,Glendive,MT,USA
10080,20110239,2011,7.0,239,1.4,SF,OG,4500,Mike,Person,...,1988-06-17,22.876712,http://www.nfl.com/player/MikePerson/2508140/p...,Glendive,MT,USA,Dawson HS,Glendive,MT,USA
10081,20110239,2011,7.0,239,1.4,SF,OG,4500,Mike,Person,...,1988-06-17,22.876712,http://www.nfl.com/player/MikePerson/2508140/p...,Glendive,MT,USA,Dawson HS,Glendive,MT,USA
10082,20110239,2011,7.0,239,1.4,SF,OG,4500,Mike,Person,...,1988-06-17,22.876712,http://www.nfl.com/player/MikePerson/2508140/p...,Glendive,MT,USA,Dawson HS,Glendive,MT,USA
11978,20190099,2019,NaN,99,104.0,TB,S,4900,Mike,Edwards,...,1996-05-18,22.958904,http://www.nfl.com/player/MikeEdwards/2540185/...,Cincinnati,OH,USA,Winton Woods HS,Cincinnati,OH,USA
11979,20190099,2019,NaN,99,104.0,TB,S,4900,Mike,Edwards,...,1996-05-18,22.958904,http://www.nfl.com/player/MikeEdwards/2540185/...,Cincinnati,OH,USA,Winton Woods HS,Cincinnati,OH,USA
11980,20190099,2019,NaN,99,104.0,TB,S,4900,Mike,Edwards,...,1996-05-18,22.958904,http://www.nfl.com/player/MikeEdwards/2540185/...,Cincinnati,OH,USA,Winton Woods HS,Cincinnati,OH,USA
11982,20190099,2019,NaN,99,104.0,TB,S,4900,Mike,Edwards,...,1996-05-18,22.958904,http://www.nfl.com/player/MikeEdwards/2540185/...,Cincinnati,OH,USA,Winton Woods HS,Cincinnati,OH,USA
11983,20190099,2019,NaN,99,104.0,TB,S,4900,Mike,Edwards,...,1996-05-18,22.958904,http://www.nfl.com/player/MikeEdwards/2540185/...,Cincinnati,OH,USA,Winton Woods HS,Cincinnati,OH,USA
11984,20190099,2019,NaN,99,104.0,TB,S,4900,Mike,Edwards,...,1996-05-18,22.958904,http://www.nfl.com/player/MikeEdwards/2540185/...,Cincinnati,OH,USA,Winton Woods HS,Cincinnati,OH,USA

In [373]:
# retirando do dataframe os registros duplicados
# removing duplicate records from the dataframe
draft = draft.drop_duplicates()

In [374]:
draft[draft.duplicated()]

Empty DataFrame
Columns: [playerId, draft, round, pick, draftTradeValue, draftTeam, position, teamId, nameFirst, nameLast, nameFull, collegeId, nflId, combineId, college, heightInches, weight, dob, ageAtDraft, playerProfileUrl, homeCity, homeState, homeCountry, highSchool, hsCity, hsState, hsCountry]
Index: []

[0 rows x 27 columns]

In [375]:
# Exibindo as colunas do Dataframe de jogadores Draftados 
# Displaying Drafted players Dataframe columns
colunas_draft = draft.columns
colunas_draft

Index(['playerId', 'draft', 'round', 'pick', 'draftTradeValue', 'draftTeam',
       'position', 'teamId', 'nameFirst', 'nameLast', 'nameFull', 'collegeId',
       'nflId', 'combineId', 'college', 'heightInches', 'weight', 'dob',
       'ageAtDraft', 'playerProfileUrl', 'homeCity', 'homeState',
       'homeCountry', 'highSchool', 'hsCity', 'hsState', 'hsCountry'],
      dtype='object')

In [376]:
# filtrando apenas os dados com registros a partir de 1987 e as colunas desejadas
# filtering only data with records from 1987 onwards and the desired columns
draft = draft[draft['draft'] > 1986]
draft = draft[['playerId','draft','pick','position','nameFirst','nameLast']]

In [377]:
draft

       playerId  draft  pick position  nameFirst    nameLast
3338   19870001   1987     1       QB      Vinny  Testaverde
3339   19870002   1987     2       LB  Cornelius     Bennett
3340   19870003   1987     3       RB     Alonzo   Highsmith
3341   19870004   1987     4       RB      Brent    Fullwood
3342   19870005   1987     5       LB       Mike      Junkin
...         ...    ...   ...      ...        ...         ...
12135  20190250   2019   250       LS     Austin     Cutting
12136  20190251   2019   251       LB     Dakota       Allen
12137  20190252   2019   252       CB        Ken     Webster
12138  20190253   2019   253       DE     Jordan   Brailford
12139  20190254   2019   254       TE      Caleb      Wilson

[8784 rows x 6 columns]

In [378]:
# exibido as colunas dos jogadores qeu participaram do combine
# displayed the columns of the players who participated in the combine
colunas_combine = combine.columns
colunas_combine

Index(['combineId', 'playerId', 'combineYear', 'combinePosition',
       'combineHeight', 'combineWeight', 'combineHand', 'nameFirst',
       'nameLast', 'nameFull', 'position', 'collegeId', 'nflId', 'college',
       'heightInches', 'weight', 'dob', 'ageAtDraft', 'playerProfileUrl',
       'homeCity', 'homeState', 'homeCountry', 'highSchool', 'hsCity',
       'hsState', 'hsCountry', 'combineArm', 'combine40yd', 'combineVert',
       'combineBench', 'combineShuttle', 'combineBroad', 'combine3cone',
       'combine60ydShuttle', 'combineWonderlic'],
      dtype='object')

In [379]:
# flitrando somente as colunnas desejadas 
# filtering only the desired columns
combine = combine[['playerId', 'combineYear', 'combinePosition',
       'combineHeight', 'combineWeight', 'nameFirst',
       'nameLast', 'position',
       'heightInches', 'weight', 'combine40yd', 'combineVert',
       'combineBench', 'combineShuttle', 'combineBroad']]

In [380]:
combine

,playerId,combineYear,combinePosition,combineHeight,combineWeight,nameFirst,nameLast,position,heightInches,weight,combine40yd,combineVert,combineBench,combineShuttle,combineBroad
0,19870067,1987,CB,69.8,198,Michael,Adams,DB,70.0,195.0,4.42,32.0,13.0,4.60,118.0
1,19870154,1987,C,74.8,266,John,Adickes,C,75.0,264.0,4.97,26.5,25.0,4.60,103.0
2,19870800,1987,FB,71.8,217,Tommy,Agee,FB,72.0,217.0,NaN,NaN,15.0,NaN,NaN
3,19870121,1987,C,75.0,279,David,Alexander,C,75.0,285.0,5.13,27.5,22.0,4.33,105.0
4,19870801,1987,WR,72.1,202,Lyneal,Alston,WR,72.0,202.0,4.64,32.0,7.0,4.52,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10075,20190754,2019,S,72.0,209,Andrew,Wingard,DB,72.0,209.0,4.56,36.5,9.0,4.20,121.0
10076,20190077,2019,EDG,75.0,256,Chase,Winovich,DE,75.0,250.0,4.59,30.5,18.0,4.11,116.0
10077,20190110,2019,P,74.0,218,Mitch,Wishnowsky,P,74.0,221.0,4.63,32.5,NaN,NaN,117.0
10078,20190755,2019,S,71.0,205,Zedrick,Woods,DB,71.0,203.0,4.29,34.5,19.0,4.15,122.0
10079,20191010,2019,S,74.0,212,Evan,Worthington,S,74.0,200.0,4.63,33.5,17.0,4.37,121.0

In [381]:
# analisando a existencia de valores nulos
# analyzing the existence of null values
draft.isnull().sum()

playerId     0
draft        0
pick         0
position     0
nameFirst    0
nameLast     0
dtype: int64

In [382]:
# analisando a existencia de valores nulos
# analyzing the existence of null values
combine.isnull().sum()

playerId              0
combineYear           0
combinePosition       0
combineHeight         0
combineWeight         0
nameFirst             2
nameLast              2
position              3
heightInches          7
weight                7
combine40yd        1058
combineVert        1619
combineBench       2912
combineShuttle     2594
combineBroad       1769
dtype: int64

In [383]:
# concatenando os dataframes e formando um so
# concatenating the dataframes and forming a single
geral = pd.concat([draft,combine])

In [384]:
geral.head(100)

,playerId,draft,pick,position,nameFirst,nameLast,combineYear,combinePosition,combineHeight,combineWeight,heightInches,weight,combine40yd,combineVert,combineBench,combineShuttle,combineBroad
3338,19870001,1987.0,1.0,QB,Vinny,Testaverde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3339,19870002,1987.0,2.0,LB,Cornelius,Bennett,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3340,19870003,1987.0,3.0,RB,Alonzo,Highsmith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3341,19870004,1987.0,4.0,RB,Brent,Fullwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3342,19870005,1987.0,5.0,LB,Mike,Junkin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3433,19870096,1987.0,96.0,OG,Steve,Trapilo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3434,19870097,1987.0,97.0,OT,Ralph,Van Dyke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3435,19870098,1987.0,98.0,QB,Rich,Gannon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3436,19870099,1987.0,99.0,RB,Troy,Stradford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3437,19870100,1987.0,100.0,DB,Najee,Mustafaa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [385]:
# relacionando os dataframes atribuindo dados relacionados do mesmo jogador
# relating dataframes by assigning related data from the same player
geral = geral.groupby('playerId').sum()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\1703358799.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  geral = geral.groupby('playerId').sum()

In [386]:
display(geral)

,draft,pick,combineYear,combineHeight,combineWeight,heightInches,weight,combine40yd,combineVert,combineBench,combineShuttle,combineBroad
playerId,,,,,,,,,,,,
19870001,1987.0,1.0,1987.0,76.3,213.0,77.0,233.0,4.75,0.0,13.0,0.00,0.0
19870002,1987.0,2.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0
19870003,1987.0,3.0,1987.0,72.9,236.0,73.0,234.0,0.00,34.0,27.0,0.00,118.0
19870004,1987.0,4.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0
19870005,1987.0,5.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
20190511,0.0,0.0,2019.0,69.0,197.0,69.0,197.0,4.58,36.5,0.0,4.25,118.0
20190754,0.0,0.0,2019.0,72.0,209.0,72.0,209.0,4.56,36.5,9.0,4.20,121.0
20190755,0.0,0.0,2019.0,71.0,205.0,71.0,203.0,4.29,34.5,19.0,4.15,122.0
20191010,0.0,0.0,2019.0,74.0,212.0,74.0,200.0,4.63,33.5,17.0,4.37,121.0
20191026,0.0,0.0,2019.0,74.0,218.0,74.0,217.0,4.63,0.0,0.0,0.00,0.0

In [387]:
# excluindo os jogadores que foram draftados sem fazer o combine
# excluding players who were drafted without making the combine
geral = geral[geral['combineYear'] != 0]

In [388]:
geral

,draft,pick,combineYear,combineHeight,combineWeight,heightInches,weight,combine40yd,combineVert,combineBench,combineShuttle,combineBroad
playerId,,,,,,,,,,,,
19870001,1987.0,1.0,1987.0,76.3,213.0,77.0,233.0,4.75,0.0,13.0,0.00,0.0
19870003,1987.0,3.0,1987.0,72.9,236.0,73.0,234.0,0.00,34.0,27.0,0.00,118.0
19870006,1987.0,6.0,1987.0,75.0,212.0,75.0,210.0,4.95,28.0,0.0,4.51,108.0
19870007,1987.0,7.0,1987.0,78.3,268.0,78.0,272.0,4.76,29.0,0.0,4.91,103.0
19870009,1987.0,9.0,1987.0,74.3,292.0,74.0,292.0,4.86,0.0,17.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
20190511,0.0,0.0,2019.0,69.0,197.0,69.0,197.0,4.58,36.5,0.0,4.25,118.0
20190754,0.0,0.0,2019.0,72.0,209.0,72.0,209.0,4.56,36.5,9.0,4.20,121.0
20190755,0.0,0.0,2019.0,71.0,205.0,71.0,203.0,4.29,34.5,19.0,4.15,122.0
20191010,0.0,0.0,2019.0,74.0,212.0,74.0,200.0,4.63,33.5,17.0,4.37,121.0
20191026,0.0,0.0,2019.0,74.0,218.0,74.0,217.0,4.63,0.0,0.0,0.00,0.0

In [389]:
# separandos os jogadores draftados para tratar os dados sem valor de forma mais coerente 
# separating drafted players to treat valueless data more coherently
drafttados = geral[geral['pick']!=0]

In [390]:
mediana = drafttados['combine40yd'].median()
drafttados['combine40yd'] = drafttados['combine40yd'].replace(0, mediana)
mediana = drafttados['combineVert'].median()
drafttados['combineVert'] = drafttados['combineVert'].replace(0, mediana)
mediana = drafttados['combineBench'].median()
drafttados['combineBench'] = drafttados['combineBench'].replace(0, mediana)
mediana = drafttados['combineShuttle'].median()
drafttados['combineShuttle'] = drafttados['combineShuttle'].replace(0, mediana)
mediana = drafttados['combineBroad'].median()
drafttados['combineBroad'] = drafttados['combineBroad'].replace(0, mediana)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\3330192813.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drafttados['combine40yd'] = drafttados['combine40yd'].replace(0, mediana)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\3330192813.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drafttados['combineVert'] = drafttados['combineVert'].replace(0, mediana)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\3330192813.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drafttados['combineBench'] = drafttados['combineBench'].replace(0, mediana)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\3330192813.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drafttados['combineShuttle'] = drafttados['combineShuttle'].replace(0, mediana)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\3330192813.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drafttados['combineBroad'] = drafttados['combineBroad'].replace(0, mediana)

In [391]:
drafttados

,draft,pick,combineYear,combineHeight,combineWeight,heightInches,weight,combine40yd,combineVert,combineBench,combineShuttle,combineBroad
playerId,,,,,,,,,,,,
19870001,1987.0,1.0,1987.0,76.3,213.0,77.0,233.0,4.75,31.5,13.0,4.23,112.0
19870003,1987.0,3.0,1987.0,72.9,236.0,73.0,234.0,4.67,34.0,27.0,4.23,118.0
19870006,1987.0,6.0,1987.0,75.0,212.0,75.0,210.0,4.95,28.0,17.0,4.51,108.0
19870007,1987.0,7.0,1987.0,78.3,268.0,78.0,272.0,4.76,29.0,17.0,4.91,103.0
19870009,1987.0,9.0,1987.0,74.3,292.0,74.0,292.0,4.86,31.5,17.0,4.23,112.0
...,...,...,...,...,...,...,...,...,...,...,...,...
20190245,2019.0,245.0,2019.0,76.0,307.0,75.0,315.0,5.13,29.0,28.0,4.73,101.0
20190246,2019.0,246.0,2019.0,75.0,307.0,75.0,308.0,5.13,27.5,27.0,4.78,98.0
20190251,2019.0,251.0,2019.0,73.0,232.0,73.0,235.0,4.77,31.5,23.0,4.04,116.0
20190253,2019.0,253.0,2019.0,75.0,252.0,75.0,250.0,4.65,37.5,22.0,4.23,126.0
20190254,2019.0,254.0,2019.0,76.0,240.0,77.0,240.0,4.56,29.0,17.0,4.40,113.0

In [392]:
# separandos os jogadores nÃ£o draftados para tratar os dados sem valor de forma mais coerente
# separating undrafted players to treat valueless data more coherently
recusados = geral[geral['pick']==0]

In [393]:
mediana = recusados['combine40yd'].median()
recusados['combine40yd'] = recusados['combine40yd'].replace(0, mediana)
mediana = recusados['combineVert'].median()
recusados['combineVert'] = recusados['combineVert'].replace(0, mediana)
mediana = recusados['combineBench'].median()
recusados['combineBench'] = recusados['combineBench'].replace(0, mediana)
mediana = recusados['combineShuttle'].median()
recusados['combineShuttle'] = recusados['combineShuttle'].replace(0, mediana)
mediana = recusados['combineBroad'].median()
recusados['combineBroad'] = recusados['combineBroad'].replace(0, mediana)
mediana = recusados['combineBroad'].median()
recusados['combineBroad'] = recusados['combineBroad'].replace(0, mediana)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\3622559606.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recusados['combine40yd'] = recusados['combine40yd'].replace(0, mediana)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\3622559606.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recusados['combineVert'] = recusados['combineVert'].replace(0, mediana)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\3622559606.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recusados['combineBench'] = recusados['combineBench'].replace(0, mediana)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\3622559606.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recusados['combineShuttle'] = recusados['combineShuttle'].replace(0, mediana)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\3622559606.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recusados['combineBroad'] = recusados['combineBroad'].replace(0, mediana)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\3622559606.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recusados['combineBroad'] = recusados['combineBroad'].replace(0, mediana)

In [394]:
recusados

,draft,pick,combineYear,combineHeight,combineWeight,heightInches,weight,combine40yd,combineVert,combineBench,combineShuttle,combineBroad
playerId,,,,,,,,,,,,
19870800,0.0,0.0,1987.0,71.8,217.0,72.0,217.0,4.75,30.5,15.0,4.29,109.0
19870801,0.0,0.0,1987.0,72.1,202.0,72.0,202.0,4.64,32.0,7.0,4.52,114.0
19870802,0.0,0.0,1987.0,75.8,235.0,76.0,235.0,4.82,26.0,15.0,4.34,108.0
19870803,0.0,0.0,1987.0,70.8,174.0,71.0,174.0,4.63,29.5,4.0,4.50,114.0
19870804,0.0,0.0,1987.0,74.6,254.0,75.0,254.0,5.12,24.5,13.0,4.54,103.0
...,...,...,...,...,...,...,...,...,...,...,...,...
20190511,0.0,0.0,2019.0,69.0,197.0,69.0,197.0,4.58,36.5,15.0,4.25,118.0
20190754,0.0,0.0,2019.0,72.0,209.0,72.0,209.0,4.56,36.5,9.0,4.20,121.0
20190755,0.0,0.0,2019.0,71.0,205.0,71.0,203.0,4.29,34.5,19.0,4.15,122.0
20191010,0.0,0.0,2019.0,74.0,212.0,74.0,200.0,4.63,33.5,17.0,4.37,121.0
20191026,0.0,0.0,2019.0,74.0,218.0,74.0,217.0,4.63,30.5,15.0,4.29,109.0

In [395]:
# atribuindo um valor binarios para facilitar a classificaÃ§Ã£o
# assigning a binary value to facilitate classification
drafttados['pick'] = 1
drafttados = drafttados.rename(columns={'pick': 'classificaÃ§Ã£o'})

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\619719670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drafttados['pick'] = 1

In [396]:
drafttados

,draft,classificaÃ§Ã£o,combineYear,combineHeight,combineWeight,heightInches,weight,combine40yd,combineVert,combineBench,combineShuttle,combineBroad
playerId,,,,,,,,,,,,
19870001,1987.0,1,1987.0,76.3,213.0,77.0,233.0,4.75,31.5,13.0,4.23,112.0
19870003,1987.0,1,1987.0,72.9,236.0,73.0,234.0,4.67,34.0,27.0,4.23,118.0
19870006,1987.0,1,1987.0,75.0,212.0,75.0,210.0,4.95,28.0,17.0,4.51,108.0
19870007,1987.0,1,1987.0,78.3,268.0,78.0,272.0,4.76,29.0,17.0,4.91,103.0
19870009,1987.0,1,1987.0,74.3,292.0,74.0,292.0,4.86,31.5,17.0,4.23,112.0
...,...,...,...,...,...,...,...,...,...,...,...,...
20190245,2019.0,1,2019.0,76.0,307.0,75.0,315.0,5.13,29.0,28.0,4.73,101.0
20190246,2019.0,1,2019.0,75.0,307.0,75.0,308.0,5.13,27.5,27.0,4.78,98.0
20190251,2019.0,1,2019.0,73.0,232.0,73.0,235.0,4.77,31.5,23.0,4.04,116.0
20190253,2019.0,1,2019.0,75.0,252.0,75.0,250.0,4.65,37.5,22.0,4.23,126.0
20190254,2019.0,1,2019.0,76.0,240.0,77.0,240.0,4.56,29.0,17.0,4.40,113.0

In [397]:
# atribuindo um valor binarios para facilitar a classificaÃ§Ã£o
# assigning a binary value to facilitate classification
recusados['pick'] = 2
recusados = recusados.rename(columns={'pick' : 'classificaÃ§Ã£o'})

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_144\1087005812.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recusados['pick'] = 2

In [398]:
# concatenando novamente os dataframes que foran separados
# concatenating the dataframes that were separated again
jogadores = pd.concat([drafttados, recusados])
jogadores = jogadores.sort_values(by='combineYear', ascending=True)

In [399]:
# removendos o ano da realiizaÃ§Ã£o de cada evento 
# removing the year of each event
jogadores = jogadores.drop(['draft', 'combineYear'], axis=1)

In [400]:
jogadores

,classificaÃ§Ã£o,combineHeight,combineWeight,heightInches,weight,combine40yd,combineVert,combineBench,combineShuttle,combineBroad
playerId,,,,,,,,,,
19870001,1,76.30,213.0,77.0,233.0,4.75,31.5,13.0,4.23,112.0
19870233,1,73.00,193.0,72.0,199.0,4.61,32.5,17.0,4.43,103.0
19870235,1,69.50,201.0,69.0,197.0,4.58,35.0,13.0,4.17,116.0
19870237,1,71.10,231.0,72.0,233.0,4.69,30.0,22.0,4.02,111.0
19870238,1,76.30,243.0,77.0,240.0,4.57,31.0,19.0,4.20,116.0
...,...,...,...,...,...,...,...,...,...,...
20190084,1,72.00,324.0,72.0,324.0,5.01,30.5,27.0,4.62,101.0
20190087,1,70.00,216.0,70.0,214.0,4.57,37.0,16.0,4.23,121.0
20191010,2,74.00,212.0,74.0,200.0,4.63,33.5,17.0,4.37,121.0
20050015,1,150.60,484.0,150.0,484.0,9.08,75.0,18.0,7.74,240.0
20060229,1,136.18,400.0,140.0,380.0,8.89,72.5,25.0,8.65,240.0

In [402]:
# salvando em arquivo csv 
# saving to csv file
jogadores.to_csv('dados_nfl.csv', index=True)